body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.form-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #282727; 
}

.formulario {
  background-color: white;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.formulario h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.formulario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

.formulario button {
  width: 100%;
  padding: 12px;
  background-color: #282727;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #444;
}